footer{
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
  padding: 30px 0;
  background: #eee;
}
footer address{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  max-width:500px;
}
footer address i{
  display:inline-block;
}