main{
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
main section.feature{
  padding: 50px 0;
}
/* feture section*/

main section.feature ul li img{
  width: 100%;
}
main section.feature ul li h3{
  font-weight: bold;
  font-size: 1.2em;
}
main section.feature ul li em{
  display: block;
  margin: 15px 0;
  font-weight: bold;
  font-size: 1.1em;
}
main section.feature ul li p{
  margin-bottom: 15px;
}

@media screen and (min-width:1000px){
  main section.feature ul{
    display: flex;
    justify-content: space-between;
  }
  main section.feature ul li{ 
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  main section.feature ul li p{
    flex:1;
  }
}
@media screen and (max-width:1000px){
  main section.feature ul li{ 
    margin-bottom: 20px;
  }
  main section.feature ul li:last-child{
    margin-bottom: 0;
  }
}

/* section ci */
section.ci{
  padding: 50px 0;
  background: #DDD;
}
section.ci ul{
  display: flex;
  flex-wrap: wrap;
}
section.ci ul li{
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
}
section.ci ul li i{
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  background: #333;
  color:#FFF;
}
section.ci ul li h3{
  margin:15px 0;
  font-weight: bold;
  font-size: 1.2em;
}

@media screen and (min-width:1000px){
  section.ci ul li{
    width: 25%;
  }
}
@media screen and (min-width:500px) and (max-width:1000px){
  section.ci ul li{
    width: 50%;
  }
}
@media screen and (max-width:500px){
  section.ci ul li{
    width: 100%;
  }
}

/* section.latest */
section.latest{
  padding: 50px 0;
}
section.latest ul li{
  background: #ddd;
}
@media screen and (min-width:500px){
  section.latest ul{
    display: flex;
    justify-content: space-between;
  }
  section.latest ul li{
    width: 47%;
  }
}
@media screen and (max-width:500px){
  section.latest ul li{
    margin-bottom: 20px;

  }
  section.latest ul li:last-child{
    margin-bottom: 0;
  }
}
section.latest ul li h3{
  font-size: 1.2em;
  font-weight: bold;
}

section.latest ul li em{
  font-size: 1.1em;
  font-weight: bold;
}

section.latest ul li p{}

@media screen and (min-width:1000px){
  section.latest ul li{
    /* 부모ul이 플렉스가 적용되서 li는 일반 블록레벨 속성이 사라졌음 
    그러므로 클리어 픽스를 적용하지 않아됨
    section.lastest ul li ::break-after: 
    content
    clear both
    display block */
  }
  section.latest ul li h3{
    margin-bottom: 15px;
  }
  section.latest ul li em{
    display: block;
    margin: 15px 0;
  }
  section.latest ul li img{
   float: left;
   width: 35%;
  }
  section.latest ul li p{
    float: right;
    width: 60%;

  }
}

@media screen and (max-width:1000px){
  section.latest ul li em{
    display: block;
    margin: 15px 0;
  }
  section.latest ul li img{
    width: 100%;
    margin-bottom: 15px 0;
  }
}